@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@8z00&display=swap');

:root {
    background: #363230;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.parallax {
    min-height: 900px;

    background: url('Green50.png') no-repeat fixed center;
    background-size: cover;

    vertical-align: middle;
    line-height: 800px;
}

.banner-table {
    padding-top: 25px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.banner-table-text {
    font-size: 45px;
}

.banner-table-cell {
    text-align: center;
    width: 1000px;
}